/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


body{
	background-color: rgba(232, 232, 232, 1);
	color: rgb(39, 61, 70);
}


.header{
	padding: 45px;
}
.header__menu{
	font-size: 15px;
}
.ava{
	margin: 0px 100px;
    border-radius: 10%;
    width: 120px;
    height: 150px;
    border: 2px solid #f1f1f2;
    display: flex;
    align-items: left;
    justify-content: left;	
}

.about__body{
	max-width:823px;
	margin:0px 0px 30px 50px;
  }
  
  .about__header{
	margin: 5px 0px 0px 0px;
  }
  
  .about__title{
	font-size: 34px;
	color:#868585;
	margin:0px 0px 0px 100px;
  }
  
  .about__text {
	max-width:688px;
	color:#868585;
	font-size:20px;
	font-weight:300;
	text-align:left;
	line-height:normal;
	margin:0px 0px 0px 0px;
	padding:0px 0px 30px 0px
	}

